.hbs-play {

  &__item {
    border: 8px solid #F0F0F0;
    padding: 24px;
    margin: 2em 0;
    background-color: #fff;
  }

  &__title {
    font-size: 2rem;
    font-family: "Bitstream Vera Sans Mono","Consolas","Menlo","Monaco","Courier New","Courier",monospace;
    margin: 0 0 24px;
    padding-bottom: 4px;
    color: #981b1e;
    border-bottom: 2px solid #dbdad9;
  }

}
