<div class="fsa-header-app">
  <div class="fsa-header-app__bd">
    <div class="fsa-header-app__primary">
      <a class="fsa-header-app__home-link" href="index.html">
        <span class="fsa-header-app__app-name">
          <abbr class="fsa-header-app__app-abbr">FIC</abbr>
          <span class="fsa-header-app__app-full">Farm Inspection Console</span>
        </span>
      </a>
    </div>
    <div class="fsa-header-app__secondary">
      <span class="fsa-header-app__profile">
        <a href="profile.html" class="fsa-header-app__profile-link">
          <span class="fsa-header-app__profile-name">Sam Mayday Malone</span>
          <span class="fsa-header-app__profile-expand"></span>
        </a>
      </span>
    </div>
  </div>
</div>
